<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="stuStudentLoginAction" class="root.student.StudentLoginAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuSubAssignAction" class="root.student.SubAssignAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuSubNameModAction" class="root.student.SubNameModAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuSubChooseAction" class="root.student.SubChooseAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuSubResultAction" class="root.student.SubResultAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuStudentModAction" class="root.student.StudentModAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuQaInputAction" class="root.student.QAInputAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuThesisUpAction" class="root.student.ThesisUpAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuTranslateUpAction" class="root.student.TranslateUpAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuAssignmentUpAction" class="root.student.AssignmentUpAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuKtreportUpAction" class="root.student.KtreportUpAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="stuMidternCheckAction" class="root.student.MidternCheckAction"
		scope="prototype" autowire="byType">
	</bean>
	<bean id="studentChangePasswordAction" class="root.ChangePasswordAction"
		scope="prototype">
		<property name="studentDAO" ref="StudentDAO" />
	</bean>
</beans>